
body{
    padding: 0;
    margin: 0;
    font-family: helvetica;
}

#header{
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url("images/wood-bg.png");
    background-repeat: repeat-x;
    height: 80px;
}

#header img{
    height: 70%;
    padding-top: 15px;
    margin: auto;
    display: block;
}

#tab-top{
    position: fixed;
    z-index: 500;
    top: 80px;
    left: 0;
    height: 40px;
    background-color: forestgreen;
    width: 100%;
}

#tab-top a{
    float: left;
    width: 33%;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    padding-top: 12px;
    color: white;
    display: block;
    height: 35px;
}

#main-home{
    margin-top: 120px;
    margin-bottom: 35px;
}

#main-home img{
    width: 100%;
}

#tab-bottom{
    position: fixed;
    z-index: 500;
    bottom: 0;
    left: 0;
    height: 40px;
    background-color: forestgreen;
    width: 100%;
    
}

#tab-bottom a{
    text-decoration: none;
    font-weight: 600;
    color: white;
    width: 50%;
    float: left;
    display: block;
    height: 35px;
    text-align: center;
    margin-top: 10px;
}

#main{
    margin-top: 120px;
    background-image: url("images/map-blur.png");
    background-repeat: repeat-y; /* repeat background image as menu list gets longer*/
}

#content{
    padding-top: 1px;
    margin: auto;
    padding-bottom: 50px;
}

a.info-box{
    width: 90%;
    height: 90px;
    background-color: rgba(221, 174, 44, 0.8);
    text-decoration: none;
    display: block;
    margin: auto;
    margin-top: 12px;
    padding: 1px;
}

a.info-box img.right{
    float: right;
    height: 40px;
    margin-top: 25px;
}

a.info-box img{
    height: 70px;
    float: left;
    margin: 10px;
}

.info-box h3{
    color: brown;
    margin-bottom: 0;
    padding: 0;
    width: 90; /* tightens the text*/
}
.info-box p{
    padding: 0;
    margin: 0;
    color: black;
    width: 90%;
}

h3.hide{
    display: none;
    font-size: 250%;
    padding: 0;
    margin: 20px 0 0 0;
}

a.info-box.soon:hover .hide{
    float: left;
    display: block;
    color: darkred;
}

a.info-box.soon:hover h3,
a.info-box.soon:hover p{
    display: none;
}

#info-box-full{
    width: 90%;
    background-color: rgba(221, 174, 44, 0.8);
    margin: auto;
    padding: 12px;
    margin-top: 15px;
    display: block;
    text-align: center;
    overflow: auto; /*to prevent text from overflowing when floated*/
}

#info-box-full img{
    width: 100%;
}

#info-box-full h3{
    text-align: center;
}
p.text-body{
    margin: 0 6%;
}

#info-box-full h1{
    font-size: 70px;
    font-weight: 200;
    padding: 0;
    margin: 0;
}

img.weather-icon{
    height: 30px;
    width: 30px;
    display: block;
    float: left;
    margin-top: 10px;
}
img.weather-icon.top{
    padding-right: 10px;
    height: 60px;
    margin: 0 0 0 40%;
}


#info-box-full #form input{
    width: 60%;
    height: 25px;
    margin: 12px 0;
    text-align: center;
    border: 1px solid green;
}

#form{
    text-align: center;
}

#info-box-full textarea{
    margin: 12px 0;
    width: 60%;
    border: 1px solid green;
    height:60px;
    text-align: center;

}

.button{
    text-decoration: none;
    width: 60%;
    background-color: green;
    border: 1px solid green;
    color: white;
    padding: 8px 0;
    display: block;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 12px 0;
    margin: auto;
}

#info-box-full table{
    margin: auto;
}

#info-box-full table td{
    padding: 2px 5px;
}

#info-box-full ul{
    text-align: center;
    list-style-type: disc;
    list-style-position: inside;
}

#coffee-menu{
    float: right;
    width:500px;
    margin: 0 40px 0 0px
}

#coffee-left{
    float: left;
    width: 10%;
    margin: 0 0 0 50px;
}

#coffee-left p{
    font-size: 38px;
    color: darkred;
    padding: 5px 5px 0 0;
    margin:0;
}

#coffee-right{
    float: left;
    width: 80%;
    margin-bottom: 30px;
}

#coffee-right table th{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#coffee-right table th,
#coffee-right table td
{
    width: 100%;
    border-bottom: 1px solid green;
}

#coffee-text{
    width: 30%;
    float: left;
    margin: 20px 0px 30px 20px;
}

#insect-list{
    background-color:  rgba(221, 174, 44, 1);
    border: 2px solid green;
    height: 100px;
    overflow-y: auto;
}

#insect-list ul{
    list-style-type: disc;
    margin: 0;
}

#insect-list ul li{
    float: left;
    padding: 5px 15px;
    margin: 0;
}

#weather-left{
    width: 50%;
    float: left;
    margin: auto;
}
#weather-left h1{
    text-align: center;
    padding-left: 0px;
    margin: 0;
    margin-bottom: 30px;
}

#weather-left img{
    width: 60px;
    float: none;
}

#weather-right{
    width: 50%;
    float: right;
}

#weather-right h4{
    margin-bottom: 5px;
}

